<%- include("partials/header") -%>

    <!-- <div class="cc">
        <center><p class="hh rainbow-text">SA</p>
            <center class="hh"><img class="hh" src="assets/00.png" alt=""></center>
            <p class="hh rainbow-text">HO</p></center>
        
    </div> -->
    <img src="assets/saho.png" class="res" alt="">
    <br><br><br><br>
    <div class=" containor-fluid">
        <center>
            <br><br><br>
            <h1 class="h1">Logistics And Optimization Strategies<br>In Fresh Fruit Supply Chain</h1>
            <div class="container">
                <br><br>
                <p class="p">The fresh fruit agriculture and distribution sector is faced with risks and uncertainties
                    such as climate conditions, fruit tenure, inbound and outbound time etc.The planning framework for
                    production gathering, storing, and distribution is highly complex.This project focuses on the recent
                    progress in mathematically based decision-making to account for uncertainties in the fresh fruit
                    supply chain. This model is mostly based on data structures and algorithm programming to obtain
                    robust optimization.The functional area of application includes segregation, storage optimization,
                    optimized logistic, and distribution.</p><br><br><br>
            </div>
        </center>
    </div>
    <div class=" container-fluid">
        <div class="row">
            <div class="col-6 col-md-6 col-sm-12">
                <h1 class="h1">OUR MOTIVATION</h1><br><br>
                <center <p class="p">In recent times we went to a fruit whole seller and there was alot of mismanagement
                    and wastage of stuff due to no structure or algorithm to sell fruits. Hence we got an idea to
                    implement our understanding of DSA to improve the process and make it more efficient. The project
                    aims to have the following:- "Optimized Space Utilization, Faster Inventory
                        Turnover, Better Stock Control and Automation of the system"
                            </p>
                        </center>

            </div>
            <div class="col-6 col-md-6 col-sm-12">
                <h1 class="h1">OUR OBJECTIVE</h1><br><br>
                <center>
                    <p class="p">Logistic optimization to account for uncertainty in the fresh fruit supply <br>
                        Space optimization at regular intervals , with the help of data structure <br>
                        Efficient distribution of fruits to minimize possibility of decay <br>
                        Application of data structures and SDLC
                                </p>
                </center>
                

            </div>
        </div>
    </div>

    <div class="dwn">
        <div class="row">
            <div class="col-6 col-md-6 col-sm-12 ">
                <h1 class="h12">
                    SO LETS <br> GET STARTED
                </h1>
                <br><br><br><br><br><br>
                <center>
                    <p class="p">
                        Download our SAHO application and make your logistics inbound and outbound time decreased with proper space optimization.
                    </p>
                    <a href="/file-download/abc" class="btn btn-lg btn-success">Download</a>
                </center>
             
            </div>
            <div class="col-6 col-md-6 col-sm-12 " style="width: 500px ; height:600px; padding-left: 40px;">
                <iframe src='https://my.spline.design/floppydiskcopy-dd558e369b0b75ccfd92e0f5b7de0484/' frameborder='0' width='100%' height='100%'></iframe>
            </div>
        </div>
    </div>
